.input-root {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:focus-within {
    background-color: #fff;
  }
}

.input-root.focus {
  border: none;
  border-radius: 5px;
  transform: scale(1.05);
  box-shadow: rgba(175, 173, 173, 0.16) 0px 1px 4px;
  z-index: 999;

  .checkbox {
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.input-root.hover {
  border-bottom: 1px solid #add1dc; // TODO: color scheme vars
}

// Input and Button shared styles
input,
button.title {
  font-size: 0.9rem;
  font-family: inherit;
  line-height: normal;
}

input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 8px;

  &:disabled {
    background-color: #fff;
  }

  &:focus {
    outline: none;
  }
}

input.completed,
button.completed {
  text-decoration: line-through;
  opacity: 0.3;
}

i.bi-stickies {
  margin-left: 4px;
  font-size: 0.8rem;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: grab;
  overflow: hidden;
}

button.title {
  border: none;
  background: none;
  border-radius: 11px;
  padding: 0 6px;
  display: inline-block;
  max-width: calc(100% - 14px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
