.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 1.6rem;
  text-wrap: nowrap;
  white-space: nowrap;
}

.day {
  * {
    display: inline;
    vertical-align: middle;
  }

  .icon-stack {
    display: inline-flex;
    flex-direction: row;
    gap: 2px;
  }

  h1 {
    font-weight: 600;
    margin: 0;
    margin-right: 5px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  font-size: 0.6rem;

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: relative;
    cursor: pointer;
    &:first-child {
      background-color: #add1dc;
      color: #fff;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: solid 3px #add1dc;
        border-radius: 50%;
      }
    }

    &.isTouched:first-child::before {
      animation: ripple 2s linear infinite;
    }

    &:first-child {
      i {
        position: absolute;
        top: 10%;
      }
    }
  }

  i.bi-arrow-right,
  i.bi-arrow-left {
    height: 80%;
  }

  i {
    font-size: 1.5em;
  }
}

a i {
  color: #f5f3e8;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #add1dc;
  width: 220px;
  border-radius: 5px;
  border: 1px solid black;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  .day {
    i {
      font-size: 1.5em;
    }

    .icon-stack {
      display: inline-flex;
      flex-direction: row;
    }

    h1 {
      margin-right: 10px;
    }
  }

  ul {
    li {
      width: 50px !important;
      height: 50px !important;
    }

    i {
      font-size: 3em !important;
      width: 1em !important;
    }
  }
}
